html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
}
#wrapper {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
.wide {
	width: 100%;
}
.container {
	width: 100%;
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 15px;
}

/* Атомарные классы */

h2 {
	margin: 0 0 15px;
	padding: 0 0 10px;
	border-bottom: 4px solid #676767;
}
table {
	border-collapse: collapse;
	width: 100%;
	margin: 15px 0;
}
th, td {
	padding: 7px 10px;
}
th {
	background-color: #5e6066;
	color: #fff;
	font-weight: normal;
	text-align: left;
	border-right: 1px solid #505257;
}
tr:nth-child(2n) {
	background: #edeeee;
}

.text {
	font-family: Arial, Helvetica, Verdana;
	font-size: 0.8em; 
	line-height: 23px;
	color: #454545;
}

.field {
	padding: 5px 8px 7px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	max-width: 500px;
	width: 100%;
	font-family: Arial, Helvetica, Verdana;
	color: #454545;
	line-height: 23px;
	font-size: 0.8rem;
}

.btn_wrap {
	display: flex;
	justify-content: flex-start;
	margin-top: 15px;
	border-top: 1px solid #eee;
	padding-top: 15px;
}
.btn {
	background: #454545;
	border: 0;
	color: #fff;
	padding: 3px 15px 5px;
	cursor: pointer;
	margin-right: 10px;
	line-height: 23px;
}
.btn.disabled {
	opacity: 0.5;
}
.btn_wrap.false {
	flex-direction: column;
}

.true {
    color: #027f00;
}
.false {
    color: #ce5645;
}

.msg {
	margin: 10px 0;
	background: #fdf2f5;
	padding: 7px 10px 8px;
	color: #a4000f;
	border: 1px solid #f8d5db;
}

/* Основное */

header {
	display: flex;
	align-items: center;
	padding: 20px 0;
	margin: 10px 0;
}


/* Адаптив */

@media all and (min-width: 831px) {

}
@media all and (max-width: 830px) {
	.container:not(.cpn) {
		padding-left: 15px;
		padding-right: 15px;
	}


}
